Repository plugwise/plugwise-beta, pull requests merged in 2024-04, with the labels that each got.

#601 Some more constant-related updates
  custom_components/plugwise/climate.py
  custom_components/plugwise/config_flow.py
  custom_components/plugwise/const.py
  custom_components/plugwise/sensor.py
  custom_components/plugwise/util.py
Labels: quality

#607 Py312
  .pre-commit-config.yaml
  CHANGELOG.md
  pyproject.toml
  scripts/core-testing.sh
  scripts/python-venv.sh
Labels: downstreaming, dependencies, quality, python, pre-commit, github-actions, core-dev-compat

#609 Actions to py312
  .github/workflows/core_next.yml
  .github/workflows/test.yml
  .gitignore
  custom_components/plugwise/config_flow.py
  scripts/core-testing.sh
Labels: bug, core-dev-compat

#610 Attempt at uv over pip
  .github/workflows/core_next.yml
  .github/workflows/test.yml
  .gitignore
  custom_components/plugwise/sensor.py
  scripts/core-testing.sh
  scripts/python-venv.sh
  scripts/setup.sh
Labels: enhancement, downstreaming, core-dev-compat

#626 Add new Plugwise devices at runtime
  CHANGELOG.md
  custom_components/plugwise/binary_sensor.py
  custom_components/plugwise/climate.py
  custom_components/plugwise/coordinator.py
  custom_components/plugwise/manifest.json
  custom_components/plugwise/number.py
  custom_components/plugwise/select.py
  custom_components/plugwise/sensor.py
  custom_components/plugwise/switch.py
  custom_components/plugwise/util.py
  tests/components/plugwise/test_init.py
Labels: enhancement
